.stars-outer {
    position: relative; 
    display: inline-block;
    font-size: small;
}

.stars-inner {
    position: absolute; 
    top: 0; 
    left: 0; 
    white-space: nowrap; 
    overflow: hidden;
    width: 0;
    font-size:  small;
}

.stars-outer::before { 
    content: "★ ★ ★ ★ ★";
    color: #ccc;
    font-size:  small;
}

.stars-inner::before { 
    content: "★ ★ ★ ★ ★";
    color: #3B82F6;
    font-size:  small;
}

.stars-outer-opinions {
    position: relative; 
    display: inline-block;
    font-size:  small;
}

.stars-inner-opinions {
    position: absolute; 
    top: 0; 
    left: 0; 
    white-space: nowrap; 
    overflow: hidden;
    width: 0;
    font-size:  small;
}

.stars-outer-opinions::before { 
    content: "★ ★ ★ ★ ★";
    color: #ccc;
    font-size:  small;
}

.stars-inner-opinions::before { 
    content: "★ ★ ★ ★ ★";
    color: #3B82F6;
    font-size:  small;
}


/* For the more smaller stars */

.stars-outer-review {
    position: relative; 
    display: inline-block;
    font-size:small;
}

.stars-inner-review {
    position: absolute; 
    top: 0; 
    left: 0; 
    white-space: nowrap; 
    overflow: hidden;
    width: 0;
    font-size: small;
}

.stars-outer-review::before { 
    content: "★ ★ ★ ★ ★";
    color: #ccc;
    font-size: small;
}

.stars-inner-review::before { 
    content: "★ ★ ★ ★ ★";
    color: #3B82F6;
    font-size: small;
}