name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Login Dockerhub
      env: 
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      
    - name: Build the Docker image
      env: 
          NEXT_PUBLIC_BACKEND_URL: ${{secrets.NEXT_PUBLIC_BACKEND_URL}}
          JWT_SECRET: ${{secrets.JWT_SECRET}}
          
      run: sudo docker build -t juanjodiazzz/easyjob-frontend-cicd-pipeline:latest \
        --build-arg NEXT_PUBLIC_BACKEND_URL=${{ secrets.NEXT_PUBLIC_BACKEND_URL }} \
        --build-arg JWT_SECRET=${{ secrets.JWT_SECRET }} .
      
    - name: Push to Dockerhub
      run: docker push juanjodiazzz/easyjob-frontend-cicd-pipeline:latest
